{% extends 'app/base.html' %}

{% load static %}

{% block contenedor %}
<header id="inicio">
	<nav>
		<h1> Registro de usuario</h1>
      		<form action="" method="POST">
          		{% csrf_token %} 
          		<table>
            		{{ form.as_table }} 
          		</table>
              <div class="float-right">
        		    <input type="reset" value="Limpiar">
        		    <input type="submit" value="Crear">
        		    <a href="{% url 'home' %}"> Volver </a>
              </div>  
      		</form>  
	</nav>
</header>

{% endblock contenedor %}