{% extends 'app/base.html' %}

{% load static %}

{% block contenedor %}

            <div class="col-xs-12">
				<div class="contenedor">
                    <h1 >¡Si te gusta lo que ves, entonces realiza tu pedido con nosotros!</h1>
					<h2 >Debes → <a href="{% url 'login' %}">  Iniciar sesión </a> ← para facilitar tu atención</h2>
					<p> </p>
					<div class="carousel">
						<div class="carousel__contenedor">
							<button aria-label="Anterior" class="carousel__anterior">
								<i class="fas fa-chevron-left"></i>
							</button>
							<div class="carousel__lista">
								{% for p in productos %}

								<div class="carousel__elemento">
									{% if p.imagen %}
									<img src="{{ p.imagen.url }}" alt="Hamburguesa 1">
									{% endif%}
								</div>
								
								{% endfor %}
							</div>
			
							<button aria-label="Siguiente" class="carousel__siguiente">
								<i class="fas fa-chevron-right"></i>
							</button>
						</div>
						<div role="tablist" class="carousel__indicadores"></div>
					</div>
				</div>
			</div>       

{% endblock contenedor %}