{% extends 'app/base.html' %}

{% load static %}

{% block contenedor %}

            <div class="col-xs-12">
				<div class="contenedor">
                    <h1 >¡Si te gusta lo que ves, entonces realiza tu pedido con nosotros!</h1>
					<h2 >Debes → <a href="">iniciar sesión</a> ← para facilitar tu atención</h2>
					<p> </p>
					<div class="carousel">
						<div class="carousel__contenedor">
							<button aria-label="Anterior" class="carousel__anterior">
								<i class="fas fa-chevron-left"></i>
							</button>
							<div class="carousel__lista">
								<div class="carousel__elemento">
									<img src="{% static 'app/img/10.jpg' %}" alt="Hamburguesa 1">
									
								</div>
								<div class="carousel__elemento">
									<img src="{% static 'app/img/12.jpg' %}" alt="Hamburguesa 1">
									
								</div>
								<div class="carousel__elemento">
									<img src="{% static 'app/img/3.jpg' %}" alt="Hamburguesa 1">
									
								</div>
								<div class="carousel__elemento">
									<img src="{% static 'app/img/4.jpg' %}" alt="Hamburguesa 1">
									
								</div>
				
								<div class="carousel__elemento">
									<img src="{% static 'app/img/5.jpg' %}" alt="Hamburguesa 1">
									
								</div>
								<div class="carousel__elemento">
									<img src="{% static 'app/img/14.jpg' %}" alt="Hamburguesa 1">
									
								</div>
								<div class="carousel__elemento">
									<img src="{% static 'app/img/7.jpg' %}" alt="Hamburguesa 1">
									
								</div>
								<div class="carousel__elemento">
									<img src="{% static 'app/img/8.jpg' %}" alt="Hamburguesa 1">
									
								</div>
								<div class="carousel__elemento">
									<img src="{% static 'app/img/11.jpg' %}" alt="Hamburguesa 1">
									
								</div>
							</div>
			
							<button aria-label="Siguiente" class="carousel__siguiente">
								<i class="fas fa-chevron-right"></i>
							</button>
						</div>
						<div role="tablist" class="carousel__indicadores"></div>
					</div>
				</div>
			</div>       

{% endblock contenedor %}