{% extends 'app/base.html' %}

{% load static %}

{% block contenedor %}

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <header class="hdrmenu">
          <h1>Conoce nuestro menú y haz tu pedido</h1>
        </header>
      </div>
      <div class="col-xs-12">
        <header class="info">
          <p > 
            Todas nuestras Hamburguesas vienen con porcion de papasfritas 200gr y una bebida en lata 350cc. <br>
            Puedes elegir entre pollo, cerdo, vacuno (angus 100%), vegetariana o vegana. <br>
            Si deseas que tu Hamburguesa sea de mas gramos, se le agregaran $500.- a tu valor final, por cada 100gr agregados.                       
          </p> 
        </header>
      </div>
      <div class="col-xs-4">
        <section class="menu1">
          <h1>Burguers</h1>
          <ol>
            <li> TOCINO BBQ $6.500.-
              <p> Hamburguesa con tocino, queso cheddar y salsa BBQ </p>
            </li>
            <li> ITALIANA DELUXE $6.200.-
              <p> Hamburguesa tomate, palta y mayonesa de la casa.</p>
            </li>
            <li> EGG BACON $6.500.-
              <p> Hamburguesa, huevo frito, cebolla frita y palta.</p>
            </li>
            <li> MUSHROOM & ONION $6.800.-
              <p> Hamburguesa con champiñon, cebolla frita y queso rallado.</p>
            </li>
            <li> VEGAN HAMBURGUER $6.500.-
              <p> Hamburguesa de lentejas, rúcula, pepinillos y tomate cherry..</p>
            </li>
          </ol>
        </section>
      </div>
      <div class="col-xs-4">
        <section class="menu1">
          <h1>Frituras</h1>
          <ol>
            <li> PAPAS FRITAS 300GR. $2.000.-
              <p>Clasicas, Cajun o Supremas.</p>
            </li>
            <li> AROS DE CEBOLLA 300GR. $2.200.-
              <p>Al orégano, al Merquén o Con Salsa.</p>
            </li>
            <li> BOLITAS DE QUESO 300GR. $3.000
              <p>Cheddar, Mantecoso y Mozarella.-</p>
            <li> PALITOS DE AJO 300GR. $2500.-
              <p>Al orégano, con queso o Salsa.</p>
            </li>
            <li> PALITOS DE OREGANO 300GR. $2.900.-
              <p>Salteados, empanizados o asados.</p>  
            </li>
          </ol>
        </section>
      </div>
      <div class="col-xs-4">
        <section class="menu1">
          <h1>Bebidas y Jugos</h1>
          <ol>
            <li> LATA 350cc  $1.000.-
              <p>Coca-cola, Fanta, Sprite, Limon Soda, Bilz & Pap</p>
            </li>
            <li> BOTELLIN 370cc  $1.500.-
              <p>Coca-cola, Fanta, Sprite, Limon Soda, Bilz & Pap</p>
            </li>
            <li> BOTELLA 500CC $1.900.-
              <p>Coca-cola, Fanta, Sprite, Limon Soda, Bilz & Pap.</p>
            </li>
            <li> BEBIDAS ZERO 500CC $2.000.-
              <p>Coca Cola, Fanta y Sprite</p>
            </li>
            <li> JUGOS NATURALES $1.500.-
              <p>Frutilla, Piña y Melón.</p>
            </li>
          </ol>
        </section>
      </div>

{% endblock contenedor %}