{% extends 'app/base.html' %}

{% load static %}

{% block contenedor %}
<header>
	<nav>
		<h1>¿Quienes somos?</h1>
        <p>
            Cocina rica, hecha con mucha ilusión, para gente que le gusta comer y disfrutar cada bocado de la vida…. <br>
            MP BURGUERS® es un lugar en el que puedes saborear a gusto y confiar en que estarás adquiriendo un gran sabor.<br> 
            Hacemos todo de forma casera y procuramos poner siempre un toque personal en nuestro trabajo diario, por eso somos <br>
            un restaurante artesanal.
            Tenemos más de 10 años en conocimiento, en la producción y venta de comidas rápidas, la experiencia adquirida a través<br>
            de los años nos da el conocimiento para valorar la importancia del cliente, quien es el motivo de nuestros esfuerzos, y <br>
            así llegar a ustedes con la seguridad de poder ofrecerles nuestros productos de excelente calidad con responsabilidad y <br>
            cumplimiento. Contamos con excelente calidad humana que les brindara la atención apropiada, para de esta manera poder llegar <br>
            a saber y entender sus gustos y necesidades. El hecho de contar con ustedes como nuestros clientes es motivo de satisfacción
        </p>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">   
                <div class="somos1">    
                  <section>
                      <h1>Compromiso</h1>
                      <ul>
                        <li>Con el cliente: Darle atención y servicio de calidad; <br>
                            Brindar un trato Honesto - Ofrecer excelente calidad de nuestros productos.
                        </li>
                        <li>Con el Personal Capacitar y fomentar la Honestidad, Armonía, <br>
                            Eficiencia y Calidad de su desempeño con respeto y buena comunicación
                        </li>
                    </ul>   
                  </section>
                </div>
            </div>
            <div class="col-xs-4">   
                <div class="somos1">    
                  <section>
                      <h1>Mision </h1>
                      <ul>
                        <li>Tiene como misión darle la excelencia a nuestros productos de comidas rápidas <br>
                         con alta calidad, nutritivos sanos y frescos, en función de satisfacer las necesidades <br>
                         del consumo, proporcionando en forma permanente bienestar y calidad de vida. Entregamos <br>
                         a nuestros consumidores los productos que ellos prefieren y eligen por nuestra calidad y <br>
                         presentación.
                        </li>
                    </ul>   
                  </section>
                </div>
            </div>
            <div class="col-xs-4">   
                <div class="somos1">    
                  <section>
                      <h1>Vision</h1>
                      <ul>
                        <li>Tiene como visión consolidarnos como la mejor empresa a nivel nacional, en cuanto a la producción <br>
                            y venta de comidas rápidas, apoyándonos en instalaciones con la más alta tecnología para el manejo <br>
                            de nuestros productos y contamos con personal altamente calificado manteniendo nuestro riguroso y <br>
                            estricto control de calidad.
                        </li>
                    </ul>   
                  </section>
                </div>
            </div>
        </div>
    </div> 
	</nav>
</header>


{% endblock contenedor %}